
.campus {
  margin: 80px auto;
  width: 90px;
  text-align: center;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 10px;

}


.gallery img {
  width: 100px;
  height: 80%;
  border-radius: 10px;
  justify-content: center;
  
}


/* media query */

@media (max-width:  800px) {

  .gallery img {
    width: 48%;
    margin-bottom: 25%;
  }
  
}

