
.campus {
  margin: 80px auto;
  width: 90px;
  text-align: center;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 10px;

}


.gallery img {
  width: 100px;
  height: 80%;
  border-radius: 10px;
  justify-content: center;
  
}
/* 
.btn2{
  background: #FFF;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
} */

/* media query */

@media (max-width:  800px) {

  .gallery img{
    width: 48%;
    margin-bottom: 25%;
  }
  
}

